@import "./signup-form.scss";
.signup {
  &-ctr {
    border: solid;
    padding: 40px 60px;
    border: 1px solid $primary-color;
    border-radius: 20px;
    color: $primary-color;
  }
  // background-image: url("https://lh3.googleusercontent.com/proxy/BSNhQal97BPmZFNkOqMh0t8y4RJq9wq6x7TuTAFDxz8M0KTUJwzatoW5NAGYdq-lWfAhyXV4wpVCrC4LKFLC6PRimpFWOPBFHqtC5DIfrk3lD1MzdDe3jTSgs7w1QSc");
  // background-size: cover;
  // background-repeat: no-repeat;

  position: relative;
  // color: $primary-color;
  display: flex;
  flex-direction: column;
  // border: 1px solid $primary-color;
  // border-radius: 20px;

  // align-items: center;
  animation-name: fadeInAnimation;
  animation-duration: 1s;

  padding: 0 $primary-padding $primary-padding $primary-padding;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// https://lh3.googleusercontent.com/proxy/BSNhQal97BPmZFNkOqMh0t8y4RJq9wq6x7TuTAFDxz8M0KTUJwzatoW5NAGYdq-lWfAhyXV4wpVCrC4LKFLC6PRimpFWOPBFHqtC5DIfrk3lD1MzdDe3jTSgs7w1QSc
// https://www.incimages.com/uploaded_files/image/1920x1080/getty_508858458_299861.jpg
