.signup-form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  color: $primary-color;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  padding: 40px 60px;
  border: 1px solid $primary-color;
  border-radius: 20px;

  width: 100%;

  & h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &-input {
    //margin-top: 10px;
    & input {
      width: 400px;
      font-size: 18px;
      padding: 5px 5px;
      border: none;
      border-bottom: solid $secondary-color 1px;
      transition: 0.2s ease;

      &:focus,
      &:active {
        outline: none;
        border-bottom: solid $tertiary-color 1px;
      }
    }
  }
}

.input-error-msg {
  padding: 2px 0px;
  font-size: 14px;
  height: 25px;

  color: red;
}

.signup-form-btn {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  //padding: 40px 60px;
  justify-content: flex-start;
  & div {
    border: solid $primary-color 1px;
    width: 150px;
    padding: 15px 25px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
