$primary-color: rgb(69, 98, 0);
$primary-color-transparent: rgba(33, 47, 0, 0.8);
$secondary-color: rgb(137, 148, 112);
$secondary-color-transparent: rgba(200, 218, 162, 0.8);
$tertiary-color: rgb(217, 235, 177);

$light-background-transparent: rgba(255, 255, 255, 0.85);

// padding
$primary-padding: 100px;
$primary-padding-mobile: 20px;

// height
$navbar-height: 100px;
$navbar-height-mobile: 70px;

// width
$max-page-width: 1800px;
