@mixin for-phone-only {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (max-width: 1800px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.main-container {
  margin-top: $navbar-height;
  @include for-tablet-portrait-up {
    margin-top: $navbar-height-mobile;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(-2vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform, 1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

$test-background: rgb(235, 235, 235);
// this is how you use 'add class'
.multi-image-upload.is-dragover {
  background-color: $test-background;
  //animation-name: fadeInAnimation;
  animation-duration: 1s;
  border: none;
}

@keyframes fadeInAnimation {
  0% {
    //opacity: 0;
    //background-color: white;
    //border: solid;
  }

  100% {
    border: solid 4px;
    // background-color: $test-background;
    background-color: red;
  }
}
