.main-container {
  margin-top: 100px;
}
@media (max-width: 900px) {
  .main-container {
    margin-top: 70px;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(-2vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform, 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.multi-image-upload.is-dragover {
  background-color: #ebebeb;
  animation-duration: 1s;
  border: none;
}

@keyframes fadeInAnimation {
  0% {
  }
  100% {
    border: solid 4px;
    background-color: red;
  }
}

body,
html {
  min-height: 100%;
  scroll-behavior: smooth;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
}

#root {
  min-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.app-ctr {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*
  font-family: 'Cormorant', serif;
  font-family: 'Piazzolla', serif;
  font-family: 'Raleway', sans-serif;
  */
.navbar-ctr {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  width: 100%;
  color: #456200;
}
@media (max-width: 900px) {
  .navbar {
    padding: 0 20px;
    height: 70px;
  }
}

.scroll-navbar {
  box-shadow: 1px 1px 5px black;
  animation-name: navbar-animation;
  animation-duration: 1s;
}

.top-navbar {
  box-shadow: none;
  animation-name: navbar-animation;
  animation-duration: 1s;
}

@keyframes navbar-animation {
  0% {
    border: none;
  }
  100% {
    display: 0;
  }
}

.navbar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .navbar-tabs {
    flex-direction: column;
  }
}

.navbar-mobile {
  display: none;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  padding: 15px 20px;
  background-color: whitesmoke;
  animation-name: fadeInAnimation;
  animation-duration: 0.5s;
}
@media (max-width: 900px) {
  .navbar-mobile {
    display: flex;
  }
}
.navbar-mobile-tab {
  color: #899470;
}
.navbar-mobile-tab:not(:last-child) {
  margin-bottom: 15px;
}

.navbar-mobile-tab {
  cursor: pointer;
}

.navbar-tab {
  transition: 1s ease;
  text-align: center;
  color: #899470;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 18px;
}
.navbar-tab-mobile {
  display: none;
  width: 200px;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}
@media (max-width: 900px) {
  .navbar-tab {
    display: none;
  }
  .navbar-tab-mobile {
    display: flex;
    font-size: 25px;
  }
}
.navbar-tab:hover p {
  text-shadow: 0.5px 0.5px 1px #a3a3a3;
}
.navbar-tab:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 900px) {
  .navbar-tab {
    color: blue;
  }
}

.apply-host-btn {
  background-color: #456200;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
.apply-host-btn:hover {
  box-shadow: 1px 1px 3px #838383;
}

.application-recvd {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #456200;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  width: 100%;
  height: 200px;
}
.application-recvd h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .application-recvd h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
.application-recvd h4 {
  font-size: 25px;
  font-weight: 400;
}
@media (max-width: 900px) {
  .application-recvd h4 {
    font-size: 20px;
  }
}

.signup-form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #456200;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  width: 100%;
}
.signup-form h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .signup-form h3 {
    font-size: 25px;
  }
}
.signup-form-input input {
  width: 400px;
  font-size: 18px;
  padding: 5px 5px;
  border: none;
  border-bottom: solid #899470 1px;
  transition: 0.2s ease;
}
.signup-form-input input:focus,
.signup-form-input input:active {
  outline: none;
  border-bottom: solid #d9ebb1 1px;
}
@media (max-width: 900px) {
  .signup-form-input input {
    width: 100%;
    font-size: 16px;
  }
}

.input-error-msg {
  padding: 2px 0px;
  font-size: 14px;
  height: 25px;
  color: red;
}
@media (max-width: 900px) {
  .input-error-msg {
    font-size: 12px;
  }
}

.signup-form-btn {
  margin-top: 30px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media (max-width: 900px) {
  .signup-form-btn {
    width: 100%;
  }
}
.signup-form-btn-submit {
  border: solid #456200 1px;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  height: 55px;
  max-height: 55px;
  min-height: 55px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form-btn-submit:hover {
  background-color: #456200;
  color: white;
}
@media (max-width: 900px) {
  .signup-form-btn-submit {
    font-size: 16px;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signup {
  position: relative;
  display: flex;
  flex-direction: column;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  padding: 0 100px 100px 100px;
}
.signup-ctr {
  padding: 40px 60px;
  border: 1px solid #456200;
  border-radius: 20px;
  color: #456200;
}
@media (max-width: 900px) {
  .signup-ctr {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 900px) {
  .signup {
    padding: 20px;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.host-sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #456200;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  width: 100%;
  border-radius: 20px;
}
.host-sign-up-form h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
@media (max-width: 900px) {
  .host-sign-up-form h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.host-signup-form-p2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.host-signup-form-p1 {
  flex: 1;
}

.host-sign-up-ctr {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .host-sign-up-ctr {
    flex-direction: column;
  }
}

.input-checkbox-fields {
  margin-top: 20px;
  width: 400px;
}
@media (max-width: 900px) {
  .input-checkbox-fields {
    margin-top: 0;
    width: 100%;
  }
}
.input-checkbox-fields label {
  font-size: 18px;
}
@media (max-width: 900px) {
  .input-checkbox-fields label {
    font-size: 16px;
  }
}
.input-checkbox-fields-boxes {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .input-checkbox-fields-boxes {
    flex-wrap: wrap;
  }
}

.checkbox-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 900px) {
  .checkbox-input {
    width: 115px;
    padding: 5px 0;
  }
}
.checkbox-input-box {
  margin-right: 4px;
  cursor: pointer;
  border: solid 2px;
  width: 22px;
  height: 22px;
  transition: 0.2s ease;
  border-radius: 2px;
}
@media (max-width: 900px) {
  .checkbox-input-box {
    width: 20px;
    height: 20px;
  }
}
.checkbox-input:not(:last-child) {
  margin-right: 28px;
}

.checkbox-clicked {
  background-color: #456200;
}

.textarea-input textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 18px;
  resize: none;
  width: 100%;
}
@media (max-width: 900px) {
  .textarea-input textarea {
    font-size: 16px;
  }
}
.textarea-input textarea:focus,
.textarea-input textarea:active {
  outline: none;
  border: solid #d9ebb1 1px;
}

.small-card-image {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
}
.small-card-image:not(:last-child) {
  margin-right: 15px;
}
.small-card-image div {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: red;
  padding: 2px;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.loading-btn {
  margin-top: 30px;
  border: solid #456200 1px;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  height: 55px;
  max-height: 55px;
  min-height: 55px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
}
.loading-btn-spinner {
  height: 25px;
  width: 25px;
  border-radius: 2px;
  animation: spin 4s linear infinite;
  background-color: #456200;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.multi-image-upload {
  flex-wrap: wrap;
  margin-top: 10px;
  border: dashed #456200 1px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 100%;
  overflow-y: scroll;
}
@media (max-width: 900px) {
  .multi-image-upload {
    display: none;
    height: 0;
  }
  .multi-image-upload + p {
    border: solid;
    display: none;
    height: 0;
  }
}

.multi-image-upload.images-loaded {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ebebeb;
  border: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.host-signup {
  position: relative;
  color: #456200;
  display: flex;
  border: 1px solid #456200;
  border-radius: 20px;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  padding: 0 100px 100px 100px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info {
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .info {
    padding: 10px 20px;
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  padding: 90px 20px;
}
@media (max-width: 900px) {
  .info-card {
    padding: 20px;
  }
}
.info-card:not(:first-child) {
  margin-top: 30px;
}
.info-card h3 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1px;
  text-align: center;
  width: 300px;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .info-card h3 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

.info-card {
  color: #456200;
}
.info-card:nth-child(even) {
  direction: rtl;
}
.info-card:nth-child(even) p {
  direction: ltr;
}
.info-card-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.info-card-desc p {
  font-size: 20px;
  width: 400px;
}
.info-card-text {
  height: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .info-card-text {
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }
}
.info-card-text p {
  font-size: 25px;
}
@media (max-width: 900px) {
  .info-card-text p {
    font-size: 18px;
    width: 100%;
  }
}
.info-card-img {
  height: 300px;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
@media (max-width: 900px) {
  .info-card-img {
    display: none;
  }
}

.header {
  padding: 30px 100px;
  width: 500px;
  height: 100%;
  color: #456200;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 900px) {
  .header {
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    height: auto;
  }
}
.header h3 {
  font-size: 65px;
  font-weight: 100;
}
@media (max-width: 900px) {
  .header h3 {
    font-size: 50px;
    font-weight: 100;
  }
}
.header h3:nth-child(2) {
  font-weight: 700;
}
.header p {
  margin-top: 50px;
  font-size: 25px;
}
@media (max-width: 900px) {
  .header p {
    margin-top: 30px;
  }
}

.home {
  animation-name: fadeInAnimation;
  animation-duration: 1s;
}
.home-background {
  height: calc(100vh - 100px - 150px);
  animation-name: background-animation;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 900px) {
  .home-background {
    background: none;
    animation: none;
    height: auto;
  }
}

.home-signup-btns-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  color: #456200;
}
.home-signup-btns-mobile .home-signup-btn {
  box-shadow: 0.5px 0.5px 4px #c2c2c2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 100%;
  font-weight: 700;
  border-radius: 10px;
  background-color: #456200;
  color: white;
  border: 1px solid #456200;
  transition: 0.5s ease;
  cursor: pointer;
}
.home-signup-btns-mobile .home-signup-btn:hover {
  background-color: white;
  color: #456200;
}
.home-signup-btns-mobile .home-signup-btn:not(:first-child) {
  margin-top: 20px;
}
@media (max-width: 900px) {
  .home-signup-btns-mobile {
    display: flex;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-animation {
  0%,
  100% {
    background-image: url("../../../assets/background-1.jpg");
  }
  28% {
    background-image: url("../../../assets/background-1.jpg");
  }
  33% {
    background-image: url("../../../assets/background-2.jpg");
  }
  61% {
    background-image: url("../../../assets/background-2.jpg");
  }
  66% {
    background-image: url("../../../assets/background-3.jpg");
  }
  96% {
    background-image: url("../../../assets/background-3.jpg");
  }
}
