.host-sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $primary-color;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  width: 100%;
  border-radius: 20px;
  & h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;

    @include for-tablet-portrait-up {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
}

.host-signup-form-p2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.host-signup-form-p1 {
  flex: 1;
}
.host-sign-up {
  &-ctr {
    width: 100%;
    display: flex;
    flex-direction: row;
    @include for-tablet-portrait-up {
      flex-direction: column;
    }
  }
}

.input-checkbox-fields {
  margin-top: 20px;
  width: 400px;

  @include for-tablet-portrait-up {
    margin-top: 0;
    width: 100%;
  }

  & label {
    font-size: 18px;
    @include for-tablet-portrait-up {
      font-size: 16px;
    }
  }

  &-boxes {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    @include for-tablet-portrait-up {
      flex-wrap: wrap;
    }
  }
}

.checkbox-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include for-tablet-portrait-up {
    width: 115px;
    padding: 5px 0;
  }

  &-box {
    margin-right: 4px;
    cursor: pointer;
    border: solid 2px;
    width: 22px;
    height: 22px;
    transition: 0.2s ease;
    border-radius: 2px;

    @include for-tablet-portrait-up {
      width: 20px;
      height: 20px;
    }
  }

  &:not(:last-child) {
    margin-right: 28px;
  }
}

.checkbox-clicked {
  background-color: $primary-color;
}

.textarea-input {
  & textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 18px;
    resize: none;
    width: 100%;

    @include for-tablet-portrait-up {
      font-size: 16px;
    }

    &:focus,
    &:active {
      outline: none;
      border: solid $tertiary-color 1px;
    }
  }
}
.small-card-image {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  animation-name: fadeInAnimation;
  animation-duration: 1s;

  &:not(:last-child) {
    margin-right: 15px;
  }

  & div {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: red;
    padding: 2px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.loading-btn {
  margin-top: 30px;
  border: solid $primary-color 1px;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  height: 55px;
  max-height: 55px;
  min-height: 55px;

  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  animation-name: fadeInAnimation;
  animation-duration: 1s;

  &-spinner {
    height: 25px;
    width: 25px;
    border-radius: 2px;
    animation: spin 4s linear infinite;
    background-color: $primary-color;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.multi-image-upload {
  flex-wrap: wrap;
  margin-top: 10px;
  border: dashed $primary-color 1px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 100%;
  overflow-y: scroll;
  @include for-tablet-portrait-up {
    & + p {
      border: solid;
      display: none;
      height: 0;
    }
    display: none;
    height: 0;
  }
}

.multi-image-upload.images-loaded {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(235, 235, 235);
  border: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
