@import "./host-signup.scss";
.host-signup {
  position: relative;
  color: $primary-color;
  display: flex;
  border: 1px solid $primary-color;
  border-radius: 20px;
  animation-name: fadeInAnimation;
  animation-duration: 1s;
  padding: 0 $primary-padding $primary-padding $primary-padding;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
