@import "./info-card.scss";
@import "./header.scss";
.home {
  animation-name: fadeInAnimation;
  animation-duration: 1s;

  &-background {
    height: calc(100vh - #{$navbar-height} - 150px);
    animation-name: background-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include for-tablet-portrait-up {
      background: none;
      animation: none;
      height: auto;
    }
  }
}

.home-signup-btns-mobile {
  display: none;
  flex-direction: column;
  align-items: center;

  padding: 30px $primary-padding-mobile;
  color: $primary-color;

  .home-signup-btn {
    box-shadow: 0.5px 0.5px 4px rgb(194, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    font-weight: 700;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
    border: 1px solid $primary-color;
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $primary-color;
    }
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  @include for-tablet-portrait-up {
    display: flex;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes background-animation {
  0%,
  100% {
    background-image: url("https://coworking-public.s3.amazonaws.com/images/background-1.jpg");
  }

  28% {
    background-image: url("https://coworking-public.s3.amazonaws.com/images/background-1.jpg");
  }
  33% {
    background-image: url("https://coworking-public.s3.amazonaws.com/images/background-2.jpg");
  }

  61% {
    background-image: url("https://coworking-public.s3.amazonaws.com/images/background-2.jpg");
  }
  66% {
    background-image: url("https://coworking-public.s3.amazonaws.com/images/background-3.jpg");
  }

  96% {
    background-image: url("https://coworking-public.s3.amazonaws.com/images/background-3.jpg");
  }
}
