.navbar-ctr {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
}
.navbar {
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  justify-content: space-between;
  align-items: center;
  padding: 0 $primary-padding;
  // position: fixed;
  // background-color: white;
  width: 100%;
  color: $primary-color;
  // z-index: 10;
  @include for-tablet-portrait-up {
    padding: 0 $primary-padding-mobile;
    height: $navbar-height-mobile;
  }
}

.scroll-navbar {
  box-shadow: 1px 1px 5px rgb(0, 0, 0);

  animation-name: navbar-animation;
  animation-duration: 1s;
}

.top-navbar {
  box-shadow: none;
  animation-name: navbar-animation;
  animation-duration: 1s;
}

@keyframes navbar-animation {
  0% {
    border: none;
  }

  100% {
    display: 0;
  }
}

.navbar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  //position: relative;
  @include for-tablet-portrait-up {
    flex-direction: column;
  }
}

.navbar-mobile {
  @include for-tablet-portrait-up {
    display: flex;
  }
  display: none;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;

  padding: 15px $primary-padding-mobile;

  background-color: rgb(245, 245, 245);
  animation-name: fadeInAnimation;
  animation-duration: 0.5s;
  &-tab {
    color: $secondary-color;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.navbar-mobile-tab {
  cursor: pointer;
}
.navbar-tab {
  &-mobile {
    display: none;
    width: 200px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
  }

  @include for-tablet-portrait-up {
    &-mobile {
      display: flex;
      font-size: 25px;
    }
    display: none;
  }

  transition: 1s ease;
  &:hover {
    p {
      text-shadow: 0.5px 0.5px 1px #a3a3a3;
    }
  }
  text-align: center;
  &:not(:last-child) {
    margin-right: 20px;
  }
  color: $secondary-color;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 18px;
  @include for-tablet-portrait-up {
    color: blue;
  }
}

.apply-host-btn {
  background-color: $primary-color;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    box-shadow: 1px 1px 3px #838383;
  }
}
